/*CSS que afecta a toda la pagina*/
body {
    background-color: rgba(146, 57, 230, 0.788);
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/*HEADER MENU Y LOGO */
.logo {
    display: block;
    width: 5%;
    margin: auto;
}

.headerlogo {
    background-color: black;
    position: sticky;
    top: 0;
    overflow: hidden;
}

#menu li {
    display: inline-block;
}

#menu ul {
    float: none;
    text-align: center;
}

#menu li a {
    color: whitesmoke;
    border: 1px solid grey;
    border-radius: 15%;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 10px 10px;
    line-height: 70px;
    text-decoration: none;
}

/*ITEMS DEL MENU*/

/* efecto al pasar el ratón por los items del menu */
#menu li a:hover {
    color: whitesmoke;
    background: #8435b5;
}

/*GALERIA Y TAMAÑO IMAGENES DE GALERIA*/

.peliculas {
    display: flex;
    flex-direction: column;
    padding: 20px;

}

.horizontal {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;

}

.galeria {
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    background-color: white;
    text-decoration: none;
}

.imggaleria {
    width: 100%;
    height: auto;
}

.galeria a {
    text-decoration: none;
}

.galeria:hover {
    border: 2px solid white;
}

article h3 {
    background-color: #3a005e;
    color: whitesmoke;
}

/*ACTORES GALERIA DE ACTORES Y IMG*/
.actores {
    background-color: black;
    color: whitesmoke;
    padding: 20px;
    text-align: center;
}

.horizontal2 {
    display: flex;
    justify-content: center;
    gap: 100px;
    text-align: center;
}

.galeria2 {
    text-align: center;
    color: whitesmoke;
}

.galeria2 img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid whitesmoke;
}

/*SERIES TOTALMENTE*/
.series{
    padding: 25px;
    width: 70%;
    height: 950px;
    float: right;
    background-color: rgb(88, 54, 107);
}

.horizontal3{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}
.galeria3{
    text-align: center;
    
}
.galeria3 img{
    width: 100%;
    height: auto;
}
.galeria3 a{
    color:whitesmoke;
    text-decoration: none;
}
.galeria3 a:hover{
    background-color: violet;
    color: black;
    border-radius: 5px;   
}
/*ASIDE*/
aside {    
    width: 504px;
    height: 795px;
    float: left;
}
aside img{
    margin-left: 5px;
}

/*FOOTER  Y MENU FOOTER*/
footer {
    background-color: whitesmoke;
    display: flex;
    /*SOLUCIONAR DISTANCIA*/
    margin-top: 1000px;
}

footer a {
    width: 3%;
}

.redesicon {
    width: 30px;
}

footer .texto {
    margin: auto;
    text-align: center;
}